extends layout

block layout-content
  div.View
    div.HorizontalContainer
      img.Logo(src="../img/v.png")
      div.Banner
        h1 #{drone.formatedDate}
        h2 #{drone.formatedTime}

    div.FullContainer#cardContainer
      div.Card.Fill(id=`${drone.id}`)
        div.Details
          span entradas:#{drone.entries}
          span duracion: #{drone.durationStr}

        //canvas for each sensor
        div.ChartContainer
          div.ChartWraper
            canvas#tempGraph
          div.ChartWraper
            canvas#ppmGraph

  script(src="/js/vuelo.js")
