extends layout

block layout-content
  div.View
    div.Banner
      h1 MONITOREO VOLCÁNICO

    div.NavButtons
      .New#newEntry +
      div
        i.fas.fa-filter
        i.fas.fa-sort-down

    div.CardContainer#cardContainer
      each item in droneArray
        div.Card(id = `${item.id}`)
          div.Options
            i.Eye.material-icons visibility
            i.Negative.material-icons delete
          h2 #{item.formatedDate}
          h4 #{item.formatedTime}
          div.Details
            span entradas:#{item.entries}
            span duracion: #{item.durationStr}
          table
            tbody
              tr
                th  
                th min
                th max
                th prom
              tr
                td temperatura
                td #{item.overview.temp.min}
                td #{item.overview.temp.max}
                td #{item.overview.temp.mean}

    div.Modal#modal
      form.Form#drone_form(action='/', method='POST')
        div.Options
          i.Negative.material-icons close
        input.File#drone_file(name="file" type='file', required)
        label.FileLabel#fileLabel(for="drone_file")
          i.fas.fa-cloud-upload-alt
          span selecionar
          span archivo
        input.Button#drone_date(type='date', required)
        input.Button#drone_time(type='time', required)
        input.Submit(type="submit" value="submit")

  script(src="/js/home.js")
