extends layout

block layout-content
  div.View
    div.HorizontalContainer
      img.Logo(src="../img/v.png")
      div.Banner
        h1 MONITOREO VOLCÁNICO

    div.NavButtons
      div#newEntry
        i.fas.fa-plus
      //- div
        i.fas.fa-filter
        i.fas.fa-sort-down //

    div.CardContainer#cardContainer 
      each item in droneArray
        div.Card(id = `${item.id}`)
          div.Options
            i.Eye.material-icons visibility
            i.Delete.material-icons delete
          h2 #{item.formatedDate}
          h4 #{item.formatedTime}
          div.Details
            span entradas:#{item.entries}
            span duracion: #{item.durationStr}min
          table
            tbody
              tr
                th  
                th min
                th max
                th prom
              tr
                td temperatura
                if item.overview.temp
                  td #{item.overview.temp.min.toFixed(2)}
                  td #{item.overview.temp.max.toFixed(2)}
                  td #{item.overview.temp.mean.toFixed(2)}
              tr
                td ppm
                if item.overview.ppm
                  td #{item.overview.ppm.min.toFixed(2)}
                  td #{item.overview.ppm.max.toFixed(2)}
                  td #{item.overview.ppm.mean.toFixed(2)}

    div.Modal#modal
      form.Form#drone_form(action='/', method='POST')
        div.Options#closeModal
          i.Negative.material-icons.Close close

        div.HorizontalContainer
          input.File#drone_file(name="file" type='file', required)
          label.FileLabel#fileLabel(for="drone_file")
            i.fas.fa-cloud-upload-alt
            span selecionar
            span archivo
          div.VerticalContainer
            input.Button#drone_date(type='date', required)

            input.Button#drone_time(type='time', required)
        
        input.Submit(type="submit" value="Subir")

  script(src="/js/home.js")
